{{ define "main" }}

<h1>{{ .Title }}</h1>

<p class="d-none"> Rendered from /layouts/people/single.html </p>

<div class="row">
  <div class="col-6 col-md-3">
    {{ partial "person-card" . }}
  </div>
</div>

{{ .Content }}


<div class="my-3">

<h2>Papers</h2>

{{ $authorname := .File.TranslationBaseName }}

{{ $papers := where .Site.RegularPages "Section" "eq" "papers" }}

{{ range $paper := $papers }}
  {{ if in $paper.Params.authors $authorname }}
   {{ partial "paper-card" .}}
  {{ end }}
{{ end }}
</div>

{{ end }}

