<div class="card">
<a href="{{ .RelPermalink }}">
  {{ if .Params.image }}
    <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Title }}">
  {{ else }}
    <img src="/images/default_profile.webp" class="card-img-top" alt="{{ .Title }}">
  {{ end }}
</a>
  <div class="card-body">
    <a href=" {{ .RelPermalink }}">
    <h5 class="card-title">{{ .Title }}</h5> 
    </a>
    {{ if .Params.link }}
      <a href="{{ .Params.link }}">link</a> /
    {{ end }}
    {{ if .Params.mail }}
      <a href="{{ .Params.mail }}">email</a> /
    {{ end }}
  </div>
</div>
