<style>
.main-container {
  max-width: {{ .Site.Params.containerMaxWidth | default "1100px" | safeCSS }};
}

#main {
  margin-top: 1em;
  margin-bottom: 4em;
}
.tag-btn {
  margin-bottom: 0.3em;
}
img {
  max-width: 100%;
}

a:hover {
  text-decoration-color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,0.85));
  color: var(--bs-link-hover-color-rgb);
}

a {
  /* color: inherit; */
  color: var(--bs-link-color-rgb);
  text-decoration: underline;
  text-decoration-color: rgba(var(--bs-body-color-rgb),var(--bs-link-opacity,0.5));
  text-underline-offset: 0.25em;
}

/* authors list */

.author-list>*:not(:last-child)::after {
  content: ", ";
}


.author-list-link:hover {
  text-decoration: underline;
}

.author-list-link {
  color: inherit;
  text-decoration: none;
}




.no-underline {
  text-decoration: none;
}


</style>
