{{ define "main" }}

{{/* <p class="d-none"> Rendered from /layouts/papers/single.html </p> */}}

<div class="my-3">
  <h1>{{ .Title }}</h1>
</div>

{{ partial "paper-card" . }}

{{ if .Params.code }}
<h3>Code</h3>
{{ partial "github-repo-card" . }}
{{ end }}

<div class="my-3">
<h3>Abstract</h3>
<p>{{ .Params.abstract}}</p>
</div>


{{ .Content }}


{{ if .Params.bib }}
<div class="my-3">
<h3>Bib</h3>
<div class="card">
  <div class="card-body">
      <pre>
{{ .Params.bib }}
      </pre>
  </div>
</div>
</div>
{{ end }}


{{ end }}
