{{ define "main" }}

{{/* <p class="d-none"> Rendered from /layouts/papers/single.html </p> */}}

<div class="my-3">
  <h1>{{ .Title }}</h1>
</div>

{{ partial "paper-card" . }}

{{ if .Params.code }}
<h3>Code</h3>
{{ partial "github-repo-card" . }}
{{ end }}

<div class="my-3">
<h3>Abstract</h3>
<p>{{ .Params.abstract}}</p>
</div>




<!-- AUTHOR LIST -->
<h2>Authors</h2>
<div class="row row-cols-2 row-cols-md-4 my-3 g4">
        {{ range .Params.authors }}
          <!-- construct url to search for -->
          {{ $url := printf "/people/%s" . }}

          <!-- check if the url exists -->
          {{ $authorPage := $.Site.GetPage $url }}
          <!-- if it does, create a link, else just print the name -->
            {{ if $authorPage }}
          <div class="row">
              {{ partial "person-card" $authorPage }}
          </div>
            {{ end }}
        {{ end }}
        </div>

{{ .Content }}

{{ if .Params.bib }}
<div class="my-3">
<h3>Bib</h3>
<div class="card">
  <div class="card-body">
      <pre>
{{ .Params.bib }}
      </pre>
  </div>
</div>
</div>
{{ end }}



{{ end }}
