{{ define "main" }}

<div class="text-center">
  <h1>{{ .Site.Title }}</h1>
  <p>{{ .Site.Params.homeText | markdownify }}</p>
</div>

<div id="description" class="py-3">
  <p>
    The Distributed Autonomous Systems and Control Laboratory (3010 Ford Robotics Building) is directed by Dimitra Panagou.</p>

  <p>The lab’s research focuses on advancing planning, learning, and control methods for autonomous robotic systems, with a strong emphasis on safety, resilience, and provable guarantees. We address real-world challenges in robotics, including multi-agent, networked, and sensor-based systems, operating in uncertain, dynamic, or adversarial environments. Our interests include nonlinear systems, estimation, risk-aware decision making, uncertainty quantification, and control under constraints, with applications across aerial, ground, marine, and space domains.</p>

  <p>If you are interested to join our lab, get in touch with Prof. Panagou or some of the PhD lab members. </p>

</div>

<div class="py-3">
<a href="/news"><h3>News</h3></a>
<ul>
  {{ range first 10 (where .Site.RegularPages "Type" "news") }}
    <li> {{ .Date | time.Format ":date_medium" }}: <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{end}}
</ul>
<a href="/news">
  See more
  <i class="bi-arrow-right"></i>
</a>

</div>

<div class="py-3">
<a href="/papers"><h3>Recent Publications</h3> </a>
{{ range first 7 (where .Site.RegularPages "Type" "papers") }}
  {{ partial "paper-card" . }}
{{end}}
<a href="/papers">
  See more
  <i class="bi-arrow-right"></i>
</a>
</div>

{{ end }}
